.card-container2 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
   
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-container img{
    width: 220px;
    height: 220px;
    overflow: hidden;
    display: grid;
}

.title {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px steelblue solid;
    border-top: 1px steelblue solid;
}

.data-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 12px 5px;
    background-color: #EDF1FF;
    border-radius: 6%;
    

}

.single-data{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
}
.single-data-box_1{
    width: 115px;
    margin: 15px 5px;
    text-align: center;
}
.single-data-box_2{
    width: 115px;
    margin: 0px 5px 15px 5px;
    text-align: center;
    font-weight: 700;
}